.effect-negative {
  stroke: black;
  stroke-width: 1;
}

.effect-shiny {
  stroke: gold;
  stroke-width: 1;
}

.effect-hot {
  stroke: crimson;
  stroke-width: 1;
}

.effect-cold {
  stroke: azure;
  stroke-width: 1;
}

.effect-wet {
  stroke: darkblue;
  stroke-width: 1;
}
