@import "./variants.css";
@import "./effects.css";
@import "./player.css";

.bg {
	fill: var(--bg, #0d1117);
}

.fg {
	fill: var(--fg, #f0f6fc);
}

.accent {
	fill: var(--fg, #f0f6fc);
	opacity: 0.2;
}

