.variant-dirt {
	/*fill: #5e3023;*/
	fill: url("#gradient-dirt");
}

.variant-gold {
	/*fill: #020024;*/
	fill: url("#gradient-gold");
}

.variant-broken {
	clip-path: polygon(
		0% 0%,
		0% 100%,
		53% 100%,
		38% 83%,
		49% 33%,
		38% 0%,
		47% 0%,
		60% 23%,
		49% 74%,
		59% 100%,
		100% 100%,
		100% 0%
	);
	fill: #656565;
}
